SuperHexagonClone2023/.cr/
SuperHexagonClone2023/Assets/StreamingAssets/trials.csv
SuperHexagonClone2023/Assets/StreamingAssets/trials.csv.meta
SuperHexagonClone2023/Assets/StreamingAssets/event_log.csv
SuperHexagonClone2023/Assets/StreamingAssets/event_log.csv.meta
